<div class="body">
    <h1 class = "header">Incident Intel</h1>
    <h2 class = "teamText">Digital Dreamers</h2>
</div>

<div class="product">
    <h1> About the Product</h1>
</div>

<div class="about">
    <div class="about-text">
        <ul>
          <li>Incident Intel is a web application that allows users to report incidents that they have witnessed or experienced.</li>
          <li>Users can report incidents such as accidents, crimes, and other emergencies, and provide details such as the location, time, and description of the incident.</li>
          <li>The application also allows users to view incidents reported by other users on a map, and filter incidents based on location, time, and type.</li>
          <li>Incident Intel aims to provide a platform for users to share information about incidents in their community, and help improve public safety and awareness.</li>
        </ul>
      </div>
    <div class="about-image">
      <img src="/assets/images/background/JIRA.png" alt="Incident Image" />
    </div>
</div>

<button (click)="navigateSignInPage()">
    Sign In
</button>